.gradient-custom {
  background-color: #feaf00;
}
.formStyle {
  background-color: #ffffff;
}
.sign-in-button {
  background-color: #feaf00;
}
.title_style {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
}
.sub_title_style {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.82px;
  text-align: left;
}
  .card {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  